@model BlogVM
<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Blog</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row mb-2 mt-2">
                        <div class="w-100 order-1 order-md-2">
                            <form asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs" class="w-100 top-bar-right d-flex justify-content-end" style="padding-right: 15px;">
                                <div class="product-short">
                                    <p>Show: </p>
                                    <select class="sortbycountproduct" name="sortbycount">
                                        <option selected value="6">6</option>
                                        <option value="12">12</option>
                                        <option value="18">18</option>
                                        <option value="24">24</option>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-primary" type="submit">Filter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- blog main wrapper start -->
    <div class="blog-main-wrapper section-padding" style="padding-top:40px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="blog-widget-wrapper">
                        <!-- widget item start -->
                        <div class="blog-widget author-slider">
                            @foreach (var item in Model.BlogAuthors)
                            {
                <div>
                    <div class="blog-widget-img">
                        <img src="~/assets/img/blog/@item.AuthorImage" />
                    </div>
                    <div class="blog-author-title text-center">
                        <h5><a asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@item.Id" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs">@item.AuthorName</a></h5>
                        <span>@item.AuthorPosition</span>
                        <div class="blog-widget-icon">
                            @if (@item.LinkedInUrl != null)
	                        {
		                        <a href="@(item.LinkedInUrl)"><i class="fa fa-linkedin"></i></a>
                                <a href="@(item.LinkedInUrl)"><i class="fa fa-facebook"></i></a>
                                <a href="@(item.LinkedInUrl)"><i class="fa fa-twitch"></i></a>
                                <a href="@(item.LinkedInUrl)"><i class="fa fa-pinterest"></i></a>
	                        }
                        </div>
                    </div>
                </div>}
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->

                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Search</h4>
                            <form class="widget-search-form">
                                <input data-url="http://localhost:15866/Blog/BlogSearch" placeholder="Search keyword" type="text" class="search-field blog-search">
                                <a asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs" data-url="http://localhost:15866/Blog/Index" class="search-button-blog search-btn"><i class="fa fa-search"></i></a>
                            </form>
                            <div class="search-body-blog d-none">
                                <ul class="list-group-blog" style="height: 300px;position:absolute;width: 100%; right:0; z-index:500;">
                                </ul>
                            </div>
                        </div>

                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Recent Posts</h4>
                            <ul class="recent-posts-inner">
                                @foreach (Blog blog1 in Model.RecentBlogs.Take(6))
                                {
                    <li class="recent-posts">
                        <div class="recent-posts-image">
                            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog1.Id"><img src="~/assets/img/blog/@blog1.BlogImage"></a>
                        </div>
                        <div class="recent-posts-body">
                            <span class="recent-posts-meta">@blog1.PublishDate</span>
                            <h6 class="recent-posts-title">
                                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog1.Id">

                                    @if (blog1.BlogTitle.ToString().Length > 15)
                                    {@(blog1.BlogTitle.ToString().Substring(0, 15) + "...") }
                                    else
                                    {
                    @blog1.BlogTitle}

                                </a>
                            </h6>
                        </div>
                    </li>}
                            </ul>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Categories</h4>
                            <ul class="blog-categories">

                                <li><a asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs">Clear All</a></li>

                                @foreach (var item in Model.BlogCategories)
                                {
                    <li><a asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@item.Id" asp-route-sortbycount="@ViewBag.SelectForBlogs">@item.Name</a><span>(@item.Blogs.Where(p => p.BlogCategoryId == item.Id).ToList().Count())</span></li>}

                            </ul>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Tags</h4>
                            <div class="blog-tag">

                                <a asp-controller="Blog" asp-action="Index" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs">Clear All</a>

                                @foreach (var item in Model.BlogTags)
                                {
                    <a asp-controller="Blog" asp-action="Index" asp-route-tagid="@item.Id" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs">@item.Name</a>}

                            </div>
                        </div>
                        <!-- widget item end -->
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">

                    <div class="row blog-col-lg-9">
                        @await Html.PartialAsync("_BlogIndexPartial", Model.Blogs)
                    </div>
                    <!-- start pagination area -->
                    <div class="paginatoin-area text-center">
                        <ul class="pagination-box">
                            @if (Model.Blogs.HasPrev)
                            {
                <li class="page-item"><a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs" asp-route-status="@ViewBag.Status" asp-route-page="1">@("<<")</a></li>

                                <li class="page-item"><a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Blogs.Page-1)">@("<")</a></li>
}
                            @for (int i = 1; i <= Model.Blogs.PageCount; i++)
                            {
                <li class="page-item @(Model.Blogs.Page == i ? "active":"")"><a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs" asp-route-status="@ViewBag.Status" asp-route-page="@i">@i</a></li>
}
                            @if (Model.Blogs.HasNext)
                            {
                <li class="page-item"><a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Blogs.Page+1)">@(">")</a></li>
                                <li class="page-item"><a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-tagid="@ViewBag.TagsForBlogsPage" asp-route-authorid="@ViewBag.AuthorForBlogsPage" asp-route-searchvalue="@ViewBag.SearchForBlogsPage" asp-route-categoryId="@ViewBag.CategoriesForBlogsPage" asp-route-sortbycount="@ViewBag.SelectForBlogs" asp-route-status="@ViewBag.Status" asp-route-page="@Model.Blogs.PageCount">@(">>")</a></li>
}
                        </ul>
                    </div>
                    <!-- end pagination area -->
                </div>
            </div>
        </div>
    </div>
    <!-- blog main wrapper end -->
</main>
<!-- main wrapper end -->
