@model CommentReplyVM

<ul>
    @foreach (BlogComment blogComment in Model.BlogComments)
    {
        if (blogComment.IsParentComment)
        {
            <li>
                <div class="author-avatar">
                    <img src="~/assets/img/users/@blogComment.AuthorImage" alt="">
                </div>
                <div class="comment-body">
                    <span class="reply-btn replybtnforremove"><a asp-controller="Blog" asp-action="AddCommentReply" asp-route-blogId="@blogComment.BlogId" asp-route-id="@blogComment.Id" class="replybuttonforinputs">Reply</a></span>
                    <h5 class="comment-author">@blogComment.Author</h5>
                    <div class="comment-post-date">
                        @blogComment.CreatedAt
                    </div>
                    <p>
                        @blogComment.Comment
                    </p>
                </div>
                
            </li>

            if (blogComment.HasResponse)
            {
                foreach (BlogCommentReply blogCommentReply in Model.BlogCommentReplies.Where(b => b.BlogCommentId == blogComment.Id))
                {
                    <li class="comment-children">
                        <div class="author-avatar">
                            <img src="~/assets/img/users/@blogCommentReply.AdminImage" alt="">
                        </div>
                        <div class="comment-body">
                            <h5 class="comment-author">@blogCommentReply.AdminName</h5>
                            <div class="comment-post-date">
                                @blogCommentReply.ResponseTime
                            </div>
                            <p>
                                @blogCommentReply.ResponseText
                            </p>
                        </div>
                    </li>
                }
            }
        }
    }
</ul>