@model ContactVM

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Contact Us</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- contact wrapper area start -->
    <div class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-message">
                        <h2 class="contact-title">tell us about your project</h2>
                        @await Html.PartialAsync("_ContactPartial", Model.ContactUsVM)
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-info pt-0">
                        <h2 class="contact-title">contact us</h2>
                        <p>
                            @Model.Settings.FirstOrDefault(x => x.Key == "ContactUsText").Value
                        </p>
                        <ul>
                            <li><i class="fa fa-fax"></i> Address : @Model.Settings.FirstOrDefault(x => x.Key == "Address").Value</li>
                            <li>
                                <i class="fa fa-phone"></i><a href="mailto:@Model.Settings.FirstOrDefault(x => x.Key == "Email").Value">
                                    @Model.Settings.FirstOrDefault(x => x.Key == "Email").Value
                                </a>
                            </li>
                            <li><i class="fa fa-envelope-o"></i> <a href="tel:@Model.Settings.FirstOrDefault(x => x.Key == "Phone").Value">
                                @Model.Settings.FirstOrDefault(x => x.Key == "Phone").Value</a></li>
                        </ul>
                        <div class="working-time">
                            <h3>Working Hours</h3>
                            <p class="pb-0">@Html.Raw(Model.Settings.FirstOrDefault(x => x.Key == "WorkingHours").Value)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact wrapper area end -->
</main>
