@model Product

<!-- main wrapper start -->
<main>
    <div class="product-details-wrapper section-padding">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <!-- product details inner end -->
                    <div class="product-details-inner">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="product-large-slider mb-20 row justify-content-between">
                                    @foreach (var item in Model.ProductImages)
                                    {
                                        <div class="pro-large-img img-zoom mb-2">
                                            <img src="~/assets/img/product/@item.Image" alt="" />
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="product-details-des">
                                    <h3 class="pro-det-title"> Name : @Model.Name</h3>
                                    <div class="pro-review">
                                        <p>Reviews count: @Model.ReviewCount</p>
                                    </div>
                                    <div class="price-box">
                                        <span class="price-regular">Discount price: $@Model.DiscountPrice</span>
                                        <span class="price-old">Price: <del>$@Model.Price</del></span>
                                    </div>
                                    <p>Description
                                        @Model.Description
                                    </p>
                                    <div class="availability mb-20">
                                        <h5 class="title @(Model.Count > 0 ?"text-success":"text-danger")"> Availability : @(Model.Count > 0 ? "In Stock" : "Out Of Stock")</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details inner end -->
                </div>
            </div>
        </div>
    </div>
    <!-- product details wrapper end -->
</main>
<!-- main wrapper end -->
