@model PaginationList<BlogTag>
@{
    int no = Model.ItemsCount * (Model.Page - 1);
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="col-lg-1">№</th>
            <th class="col-lg-3">Name</th>
            <th class="col-lg-1">Status</th>
            <th class="col-lg-1">Update</th>
            <th class="col-lg-1">Delete/Restore</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BlogTag blogTag in Model)
        {
            no++;
            <tr>
                <td class="col-lg-1">@no</td>
                <td class="col-lg-2">@blogTag.Name</td>
                <td class="col-lg-1" style="color:@(blogTag.IsDeleted ? "red" : "green")">@(blogTag.IsDeleted ? "Deleted" : "Active")</td>
                <td class="col-lg-1">
                    <a class="btn btn-warning" asp-area="Manage" asp-controller="BlogTag" asp-action="Update" asp-route-id="@blogTag.Id">Update</a>
                </td>
                <td class="col-lg-1">
                    @if (blogTag.IsDeleted)
                    {
                        <a class="btn btn-primary restoreBtn" asp-area="Manage" asp-controller="BlogTag"
                           asp-action="Restore" asp-route-id="@blogTag.Id" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status">Restore</a>
                    }
                    else
                    {
                        <a class="btn btn-danger deleteBtn" asp-area="Manage" asp-controller="BlogTag"
                           asp-action="Delete" asp-route-id="@blogTag.Id" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>