@model IDictionary<string, string>
<!-- Computer header-->

<header class="header-area">
    <!-- main header start -->
    <div class="main-header d-none d-lg-block">
        <!-- header top start -->
        <div class="header-top theme-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="welcome-message">
                            <p>@Model.FirstOrDefault(m => m.Key == "Title").Value</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="welcome-message">
                            <p>@Html.Raw(Model.FirstOrDefault(m => m.Key == "FreeShipping").Value)</p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-right">
                        <div class="header-top-settings">
                            <ul class="nav align-items-center justify-content-end">
                                <li class="curreny-wrap">
                                    $ Dollar (US)
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list curreny-list">
                                        <li><a>$ USD</a></li>
                                        <li><a> € EURO</a></li>
                                    </ul>
                                </li>
                                <li class="language">
                                    <img src="~/assets/img/icon/en.png" alt="flag"> English
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list">
                                        <li><a><img src="~/assets/img/icon/en.png" alt="flag"> english</a></li>
                                        <li><a><img src="~/assets/img/icon/fr.png" alt="flag"> french</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top end -->
        <!-- header middle area start -->
        <div class="header-main-area sticky">
            <div class="container">
                <div class="row align-items-center position-relative">
                    <!-- start logo area -->
                    <div class="col-lg-2">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/img/logo/@Model.FirstOrDefault(m=>m.Key == "HeaderLogo").Value" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- start logo area -->
                    <!-- main menu area start -->
                    <div class="col-lg-8 position-static">
                        <div class="main-menu-area">
                            <div class="main-menu">
                                <!-- main menu navbar start -->
                                <nav class="desktop-menu">
                                    <ul>
                                        <li class="active">
                                            <a asp-controller="Home" asp-action="Index">Home </i></a>
                                        </li>
                                        <li>
                                            <a asp-controller="Product" asp-action="Index">Shop </i></a>
                                        </li>
                                        <li>
                                            <a asp-controller="Basket" asp-action="Index">Cart </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Compare" asp-action="Index">Compare </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Wishlist" asp-action="Index">Wishlist </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Blog" asp-action="Index">Blog </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Contact" asp-action="Index">Contact us</a>
                                        </li>
                                        <li>
                                            <a asp-controller="About" asp-action="Index">About</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- main menu navbar end -->
                            </div>
                        </div>
                    </div>
                    <!-- main menu area end -->
                    <!-- mini cart area start -->
                    <div class="col-lg-2">
                        <div class="header-configure-wrapper">
                            <div class="header-configure-area">
                                <ul class="nav justify-content-end">
                                    <li>
                                        <a class="offcanvas-btn">
                                            <i class="ion-ios-search-strong"></i>
                                        </a>
                                    </li>
                                    <li class="user-hover">
                                        <a>
                                            <i class="ion-ios-gear-outline"></i>
                                        </a>
                                        <ul class="dropdown-list">
                                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                                            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                            <li><a asp-controller="Account" asp-action="MyAccount">My Account</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="minicart-btn">
                                            <i class="ion-bag"></i>
                                            <div class="notification">2</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- mini cart area end -->
                </div>
            </div>
        </div>
        <!-- header middle area end -->
    </div>
    <!-- main header start -->
    <!-- mobile header start -->
    <div class="mobile-header d-lg-none d-md-block sticky">
        <!--mobile header top start -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="mobile-main-header">
                        <div class="mobile-logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/img/logo/@Model.FirstOrDefault(m=>m.Key == "HeaderLogo").Value" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="mobile-menu-toggler">
                            <div class="mini-cart-wrap">
                                <a asp-controller="Basket" asp-action="Index">
                                    <i class="ion-bag"></i>
                                </a>
                            </div>
                            <div class="mobile-menu-btn">
                                <div class="off-canvas-btn">
                                    <i class="ion-navicon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile header top start -->
    </div>
    <!-- mobile header end -->
</header>

<!-- Mobile header-->

<aside class="off-canvas-wrapper">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
        <div class="btn-close-off-canvas">
            <i class="ion-android-close"></i>
        </div>

        <div class="off-canvas-inner">
            <!-- search box start -->
            <div class="search-box-offcanvas">
                <form>
                    <input type="text" placeholder="Search Here...">
                    <button class="search-btn"><i class="ion-ios-search-strong"></i></button>
                </form>
            </div>
            <!-- search box end -->
            <!-- mobile menu start -->
            <div class="mobile-navigation">
                <!-- mobile menu navigation start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children">
                            <a asp-controller="Home" asp-action="">Home </a>
                        </li>
                        <li class="menu-item-has-children ">
                            <a asp-controller="Basket" asp-action="Index">Cart </a>
                        </li>
                        <li class="menu-item-has-children ">
                            <a asp-controller="Compare" asp-action="Index">Compare </a>
                        </li>
                        <li class="menu-item-has-children ">
                            <a asp-controller="Wishlist" asp-action="Index">Wishlist </a>
                        </li>
                        <li class="menu-item-has-children ">
                            <a asp-controller="Blog" asp-action="Index">Blog </a>
                        </li>
                        <li class="menu-item-has-children "><a asp-controller="Contact" asp-action="Index">Contact us</a></li>
                    </ul>
                </nav>
                <!-- mobile menu navigation end -->
            </div>
            <!-- mobile menu end -->
            <!-- user setting option start -->
            <div class="mobile-settings">
                <ul class="nav">
                    <li>
                        <div class="dropdown mobile-top-dropdown">
                            <a class="dropdown-toggle" id="currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Currency
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="currency">
                                <a class="dropdown-item">$ USD</a>
                                <a class="dropdown-item">$ EURO</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown mobile-top-dropdown">
                            <a class="dropdown-toggle" id="myaccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Account
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="myaccount">
                                <a class="dropdown-item" asp-controller="Account" asp-action="MyAccount">My Account</a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Login"> Login</a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- user setting option end -->
            <!-- offcanvas widget area start -->
            <div class="offcanvas-widget-area">
                <div class="off-canvas-contact-widget">
                    <ul>
                        <li>
                            <i class="fa fa-mobile"></i>
                            <a href="#">@Model.FirstOrDefault(m => m.Key == "Phone").Value</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <a href="#">@Model.FirstOrDefault(m => m.Key == "Email").Value</a>
                        </li>
                    </ul>
                </div>
                <div class="off-canvas-social-widget">
                    <a href="@Model.FirstOrDefault(m=>m.Key == "FacebookLink").Value"><i class="fa fa-facebook"></i></a>
                    <a href="@Model.FirstOrDefault(m=>m.Key == "TwitterLink").Value"><i class="fa fa-twitter"></i></a>
                    <a href="@Model.FirstOrDefault(m=>m.Key == "InstagramLink").Value"><i class="fa fa-instagram"></i></a>
                    <a href="@Model.FirstOrDefault(m=>m.Key == "LinkedInLink").Value"><i class="fa fa-linkedin"></i></a>
                    <a href="@Model.FirstOrDefault(m=>m.Key == "YoutubeLink").Value"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
            <!-- offcanvas widget area end -->
        </div>
    </div>
</aside>



<!--Search area appears in this component because it is logical due to search button ON HEADER-->
<!-- offcanvas search form start -->
<div class="offcanvas-search-wrapper">
    <div class="offcanvas-search-inner">
        <div class="offcanvas-close">
            <i class="ion-android-close"></i>
        </div>
        <div class="container">

            <div class="offcanvas-search-box d-flex flex-column ">
                <form class="d-flex bdr-bottom w-100" method="post">
                    <input type="text" class="input-search" data-url="http://localhost:15866/Product/Search" placeholder="Search entire storage here...">
                    <a asp-controller="Product" asp-action="SortBySearch" data-url="http://localhost:15866/Product/SortBySearch" class="search-button-product search-btn"><i class="ion-ios-search-strong"></i>search</a>
                </form>
                <div class="search-body" style="width:100%">
                    <ul class="list-group" style="z-index: 500; width: 100%; padding: 30px; background-color: transparent; height: 500px; overflow-y: scroll;">
                        
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- offcanvas search form end -->