@model ProductDetailVM
<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">shop</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Product" asp-action="Index">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- product details wrapper start -->
    <div class="product-details-wrapper section-padding">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <!-- product details inner end -->
                    <div class="product-details-inner">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="product-large-slider mb-20">
                                    @foreach (var item in Model.Product.ProductImages)
                                    {
                                        <div class="pro-large-img img-zoom">
                                            <img src="~/assets/img/product/@item.Image" alt="" />
                                        </div>
                                    }
                                </div>
                                <div class="pro-nav slick-row-5">
                                    @foreach (var item in Model.Product.ProductImages)
                                    {
                                        <div class="pro-nav-thumb">
                                            <img src="~/assets/img/product/@item.Image" />
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="product-details-des">
                                    <h3 class="pro-det-title">@Model.Product.Name</h3>
                                    <div class="pro-review">
                                        <span><a href="#tab-one">Reviews: @Model.Product.ReviewCount</a></span>
                                    </div>
                                    <div class="price-box">
                                        <span class="price-regular">$@Model.Product.DiscountPrice</span>
                                        <span class="price-old"><del>$@Model.Product.Price</del></span>
                                    </div>
                                    <p>
                                        @Model.Product.Description
                                    </p>
                                    <div class="quantity-cart-box d-flex align-items-center mb-20">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <a asp-controller="Basket" asp-action="UpdateCount" asp-route-id="@Model.Product.Id" class="dec qtybtn decrease">-</a>
                                                <input type="text" value="@(ViewBag.BasketCountForProductDetail > 0 ? ViewBag.BasketCountForProductDetail : 1)">
                                                <a asp-controller="Basket" asp-action="UpdateCount" asp-route-id="@Model.Product.Id" class="inc qtybtn increase">+</a>
                                            </div>
                                        </div>
                                        
                                        <a asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@Model.Product.Id" class="btn btn-default addtobasket">Add To Cart</a>
                                    </div>
                                    <div class="availability mb-20">
                                        <h5 class="title @(Model.Product.Count > 0 ?"text-success":"text-danger")"> Availability :</h5>
                                        <span class="value">@(Model.Product.Count > 0 ? "In Stock" : "Out Of Stock") </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details inner end -->
                    <!-- product details reviews start -->
                    <div class="product-details-reviews section-padding">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-review-info">
                                    <ul class="nav review-tab">
                                        <li>
                                            <a class="active" data-toggle="tab" href="#tab_one">description</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab_two">information</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab_three">reviews</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content reviews-tab">
                                        <div class="tab-pane fade show active" id="tab_one">
                                            <div class="tab-one">
                                                <p>@Model.Product.FirstText</p>
                                                <div class="review-description">
                                                    <div class="tab-thumb">
                                                        <img src="~/assets/img/about/@Model.Product.Image" alt="">
                                                    </div>
                                                    <div class="tab-des">
                                                        <h3>Product Information :</h3>
                                                        <ul>
                                                            @foreach (var item in Model.Product.ProductInformation)
                                                            {
                                                <li>@item.Text</li>}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p>@Model.Product.SecondText</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_two">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>color</td>
                                                        <td>
                                                            @foreach (var item in Model.Product.ProductToColors.Where(pc => pc.ProductId == Model.Product.Id))
                                                            {
                                                @item.Color.Name<span>&nbsp;, </span>}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>size</td>
                                                        <td>
                                                            @foreach (var item in Model.Product.ProductToSizes.Where(pc => pc.ProductId == Model.Product.Id))
                                                            {
                                                @item.Size.Name<span>&nbsp;, </span>}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="tab_three">
                                            <form action="#" class="review-form">
                                                <h5>@Model.Product.ReviewCount reviews for <span>@Model.Product.Name</span></h5>
                                                <div class="total-reviews">
                                                    <div class="rev-avatar">
                                                        <img src="~/assets/img/about/@*Sdes budet avatar dla appuser*@" alt="">
                                                    </div>
                                                    <div class="review-box">
                                                        <div class="ratings">
                                                            <span class="good"><i class="fa fa-star"></i></span>
                                                            <span class="good"><i class="fa fa-star"></i></span>
                                                            <span class="good"><i class="fa fa-star"></i></span>
                                                            <span class="good"><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                        </div>
                                                        <div class="post-author">
                                                            <p><span>@*Sdes budet ima dla appuser*@ -</span> @*Sdes budet data pablisha dla appuser*@</p>
                                                        </div>
                                                        <p>Aliquam fringilla euismod risus ac bibendum. Sed sit amet sem varius ante feugiat lacinia. Nunc ipsum nulla, vulputate ut venenatis vitae, malesuada ut mi. Quisque iaculis, dui congue placerat pretium, augue erat accumsan lacus</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col">
                                                        <label class="col-form-label"><span class="text-danger">*</span> Your Name</label>
                                                        <input type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col">
                                                        <label class="col-form-label"><span class="text-danger">*</span> Your Email</label>
                                                        <input type="email" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col">
                                                        <label class="col-form-label"><span class="text-danger">*</span> Your Review</label>
                                                        <textarea class="form-control" required></textarea>
                                                        <div class="help-block pt-10"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col">
                                                        <label class="col-form-label"><span class="text-danger">*</span> Rating</label>
                                                        &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                        <input type="radio" value="1" name="rating">
                                                        &nbsp;
                                                        <input type="radio" value="2" name="rating">
                                                        &nbsp;
                                                        <input type="radio" value="3" name="rating">
                                                        &nbsp;
                                                        <input type="radio" value="4" name="rating">
                                                        &nbsp;
                                                        <input type="radio" value="5" name="rating" checked>
                                                        &nbsp;Good
                                                    </div>
                                                </div>
                                                <div class="buttons">
                                                    <button class="sqr-btn" type="submit">Continue</button>
                                                </div>
                                            </form> <!-- end of review-form -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details reviews end -->
                    <!-- featured product area start -->
                    <section class="Related-product">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section-title text-center">
                                        <h2 class="title">Related Product</h2>
                                        <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="product-carousel-4 mbn-50 slick-row-15 slick-arrow-style">
                                        @foreach (var item in Model.Products.Where(p => p.CategoryId == Model.Product.CategoryId && p.Id != Model.Product.Id).Take(20))
                                        {
                            <div class="product-item mb-50">
                                <div class="product-thumb">
                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">
                                        <img src="~/assets/img/product/@item.Image" alt="">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h5 class="product-name">
                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
                                    </h5>
                                    <div class="price-box">
                                        <span class="price-regular">$@item.DiscountPrice</span>
                                        <span class="price-old"><del>$@item.Price</del></span>
                                    </div>
                                    <div class="product-action-link">
                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                        <a asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@item.Id" data-toggle="tooltip" title="Add To Cart" class="addtobasket"><i class="ion-bag"></i></a>
                                        <a data-toggle="modal" data-target="#quick_view" asp-controller="Product" asp-action="DetailModal" asp-route-id="@item.Id" class="detailmodal">
                                            <span data-toggle="tooltip"
                                                  title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- featured product area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- product details wrapper end -->
</main>
<!-- main wrapper end -->
