@model ProductVM

<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">shop</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Our Products</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- page main wrapper start -->
    <div class="shop-main-wrapper section-padding">
        <div class="container">
            <div class="row">
                <!-- sidebar area start -->
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="sidebar-wrapper">
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>Categories</h3>
                            </div>
                            <div class="sidebar-body">
                                <ul class="color-list">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <li>
                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" asp-route-categoryId="@item.Id" asp-route-brandId="@ViewBag.BrandsForProductsPage" asp-route-searchValue="@ViewBag.HeaderSearchForProductsPage" asp-route-colorId="@ViewBag.ColorForProductsPage" asp-route-sizeId="@ViewBag.SizeForProductsPage">@item.Name<span>(@item.Products.Where(p=>p.CategoryId == item.Id).ToList().Count())</span></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>filter by price</h3>
                            </div>
                            <div class="sidebar-body">
                                <div class="price-range-wrap">
                                    <div class="price-range" data-min="20" data-max="400"></div>
                                    <div class="range-slider">
                                        <form action="#">
                                            <div class="price-input">
                                                <label for="amount">Price: </label>
                                                <input type="text" id="amount">
                                            </div>
                                            <button class="filter-btn price-filter">filter</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>color</h3>
                            </div>
                            <div class="sidebar-body">
                                <ul class="color-list">
                                    @foreach (var item in Model.Colors.Take(6))
                                    {
                                        <li style="cursor:pointer">
                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" asp-route-categoryId="@ViewBag.CategoriesForProductsPage" asp-route-brandId="@ViewBag.BrandsForProductsPage" asp-route-searchValue="@ViewBag.HeaderSearchForProductsPage" asp-route-colorId="@ViewBag.ColorForProductsPage" asp-route-sizeId="@ViewBag.SizeForProductsPage">@item.Name<span>(@item.ProductToColors.Where(pc => pc.ColorId == item.Id).ToList().Count())</span></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>size</h3>
                            </div>
                            <div class="sidebar-body">
                                <ul class="size-list">
                                    @foreach (var item in Model.Sizes.Take(6))
                                    {
                        <li>
                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" asp-route-categoryId="@ViewBag.CategoriesForProductsPage" asp-route-brandId="@ViewBag.BrandsForProductsPage" asp-route-searchValue="@ViewBag.HeaderSearchForProductsPage" asp-route-colorId="@ViewBag.ColorForProductsPage" asp-route-sizeId="@ViewBag.SizeForProductsPage">@item.Name<span>(@item.ProductToSizes.Where(pc => pc.SizeId == item.Id).ToList().Count())</span></a>
                        </li>}
                                </ul>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-banner">
                                <a href="@Model.Settings.FirstOrDefault(x=>x.Key == "ProductPageBannerRedirectUrl").Value">
                                    <img src="~/assets/img/banner/@Model.Settings.FirstOrDefault(x=>x.Key == "ProductBannerImage").Value" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                    </div>
                </div>
                <!-- sidebar area end -->
                <!-- shop main wrapper start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="shop-product-wrapper">
                        <!-- shop product top wrap start -->
                        <div class="shop-top-bar">
                            <div class="row">
                                <div class="col-xl-3 col-lg-2 col-md-2 order-2 order-md-1">
                                    <div class="top-bar-left">
                                        <div class="product-view-mode">
                                            <a href="#" data-target="grid-view"><i class="fa fa-th"></i></a>
                                            <a class="active" href="#" data-target="list-view"><i class="fa fa-list"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 order-1 order-md-2">
                                    <form class="top-bar-right">
                                        <div class="product-short col-lg-4">
                                            <p>Show: </p>
                                            <select class="sortbycountproduct" id="hellolar" name="sortbycount">
                                                <option selected="@(ViewBag.Select == 5 ? "true" : "false")" value="5">5</option>
                                                <option selected="@(ViewBag.Select == 10 ? "true" : "false")" value="10">10</option>
                                                <option selected="@(ViewBag.Select == 15 ? "true" : "false")" value="15">15</option>
                                                <option selected="@(ViewBag.Select == 20 ? "true" : "false")" value="20">20</option>
                                            </select>
                                        </div>
                                        <div class="product-short col-lg-4">
                                            <p>Sort By:</p>
                                            <select class="nice-select sortbyproduct" name="sortby">
                                                <option selected="@(ViewBag.Sortby == 0 ? "true" : "false")" value="0">All</option>
                                                <option selected="@(ViewBag.Sortby == 1 ? "true" : "false")" value="1">Name (A - Z)</option>
                                                <option selected="@(ViewBag.Sortby == 2 ? "true" : "false")" value="2">Name (Z - A)</option>
                                                <option selected="@(ViewBag.Sortby == 3 ? "true" : "false")" value="3">Price (Low &gt; High)</option>
                                                <option selected="@(ViewBag.Sortby == 4 ? "true" : "false")" value="3">Price (High &gt; Low)</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2">
                                            <button class="btn btn-primary" type="submit">Filter</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- shop product top wrap start -->
                        <!-- product item list start -->
                        <div class="shop-product-wrap list-view row mbn-50 product-content-container">
                            @await Html.PartialAsync("_ProductIndexPartial", Model.Products)
                        </div>
                        <!-- product item list end -->
                        <!-- start pagination area -->
                        <div class="paginatoin-area text-center mt-45">
                            <ul class="pagination-box">
                                @if (Model.Products.HasPrev)
                                {
                                    <li class="page-item"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-categoryId="@ViewBag.CategoriesForProductsPage" asp-route-brandId="@ViewBag.BrandsForProductsPage" asp-route-searchValue="@ViewBag.HeaderSearchForProductsPage" asp-route-colorId="@ViewBag.ColorForProductsPage" asp-route-sizeId="@ViewBag.SizeForProductsPage" asp-route-sortby="@ViewBag.Sortby" asp-route-sortbycount="@ViewBag.Select"
 asp-route-page="1">@("<<")</a></li>

                                    <li class="page-item"><a class="page-link"  asp-controller="Product" asp-action="Index" asp-route-categoryId="@ViewBag.CategoriesForProductsPage" asp-route-brandId="@ViewBag.BrandsForProductsPage" asp-route-searchValue="@ViewBag.HeaderSearchForProductsPage" asp-route-colorId="@ViewBag.ColorForProductsPage" asp-route-sizeId="@ViewBag.SizeForProductsPage" asp-route-sortby="@ViewBag.Sortby" asp-route-sortbycount="@ViewBag.Select"
 asp-route-page="@(Model.Products.Page-1)">@("<")</a></li>
                                }
                                @for (int i = 1; i <= Model.Products.PageCount; i++)
                                {
                                    <li class="page-item @(Model.Products.Page == i ? "active":"")"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-categoryId="@ViewBag.CategoriesForProductsPage" asp-route-brandId="@ViewBag.BrandsForProductsPage" asp-route-searchValue="@ViewBag.HeaderSearchForProductsPage" asp-route-colorId="@ViewBag.ColorForProductsPage" asp-route-sizeId="@ViewBag.SizeForProductsPage" asp-route-sortby="@ViewBag.Sortby" asp-route-sortbycount="@ViewBag.Select"
 asp-route-page="@i">@i</a></li>
                                }
                                @if (Model.Products.HasNext)
                                {
                                    <li class="page-item"><a class="page-link"  asp-controller="Product" asp-action="Index" asp-route-categoryId="@ViewBag.CategoriesForProductsPage" asp-route-brandId="@ViewBag.BrandsForProductsPage" asp-route-searchValue="@ViewBag.HeaderSearchForProductsPage" asp-route-colorId="@ViewBag.ColorForProductsPage" asp-route-sizeId="@ViewBag.SizeForProductsPage" asp-route-sortby="@ViewBag.Sortby" asp-route-sortbycount="@ViewBag.Select"
 asp-route-page="@(Model.Products.Page+1)">@(">")</a></li>
                                    <li class="page-item"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-categoryId="@ViewBag.CategoriesForProductsPage" asp-route-brandId="@ViewBag.BrandsForProductsPage" asp-route-searchValue="@ViewBag.HeaderSearchForProductsPage" asp-route-colorId="@ViewBag.ColorForProductsPage" asp-route-sizeId="@ViewBag.SizeForProductsPage" asp-route-sortby="@ViewBag.Sortby" asp-route-sortbycount="@ViewBag.Select"
 asp-route-page="@Model.Products.PageCount">@(">>")</a></li>
                                }
                            </ul>
                        </div>
                        <!-- end pagination area -->
                    </div>
                </div>
                <!-- shop main wrapper end -->
            </div>
        </div>
    </div>
    <!-- page main wrapper end -->
</main>
<!-- main wrapper end -->
